* {
    font-family: 'Open Sans'; 
} 
h1 { 
    text-align:center; 
} 
th { 
    text-align: left; 
} 

small {
    font-weight: 300;
    font-size: 10px;
}

table tr:nth-child(even){ 
    background-color: #eee; 
} 