body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    box-sizing: border-box;
}

.leftmenu {
    width: 200px;
    background: #192536;
    position: fixed;
    top:0;
    left:0;
    bottom:0;
}

.company_name {
    height: 100px;
    line-height: 100px;
    font-size: 18px;
    color: #f5f5f5;
    text-align: center;
}

.menuarea {
    color: #f5f5f5;
}

.menuarea ul {
    margin:0;
    padding:0;
    list-style: none;
}

.menuarea li {
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    padding-left: 30px;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}

.menuarea li:hover {
    background: #273954;
}

.menuarea li a {
    text-decoration: none;
    color: #f5f5f5;
    display: block;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}

.container {
    padding-left: 200px;
}

.top {
    height: 40px;
    background: #006075;
    color: #f5f5f5;
    font-size: 14px;
}

.top_right {
    float: right;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 20px;
}

.top_right a {
    color: #f5f5f5;
    text-decoration: none;
}

.area {
    padding: 0 20px 0 20px;
}

.tabitem {
    float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 2px solid #c2c2c2;
    background: #f5f5f5;
    color: #c2c2c2;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.activetab {
    border-bottom: 2px solid #192536;
    background: #2982b1;
    color: #f5f5f5;
}

.tabarea {
    height: 40px;
}

.tabbody {
    display: none;
    padding-top: 20px;
}

table td a {
    text-decoration: none;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
select, textarea {
    width: 100%;
    height: 30px;
    font-size: 13px;
    outline:0;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
}

textarea {
    height: 100px;
}

input[type=submit],
button,
.button {
    border:0;
    background: #192536;
    padding: 10px 20px;
    border-radius: 3px;
    color: #f5f5f5;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
}

.button_small {
    height: 10px;
    line-height: 10px;
    padding: 10px 20px;
}

.button a {
    color: #f5f5f5;
    text-decoration: none;
}

table {
    margin-top: 10px;
}

table th {
    height: 40px;
    line-height: 40px;
    background: #2982b1;
    color: #f5f5f5;
    font-weight: 600;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

table th:last-child {
    text-align: center;
}

table td{
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

table tr:nth-child(even){
    background-color: #f5f5f5;
}

table tr:nth-child(odd){
    background-color: #ebebeb;
}

label {
    font-weight: 600;
}

.p_check {
    width: 300px;
    border-radius: 3px;
    border: 1px solid #192536;
    padding: 5px;
}

.p_item {
    height: 30px;
    line-height: 30px;
}

.p_item span {
    vertical-align: middle;
}

.warn {
    padding: 15px;
    background-color: rgba(220, 20, 60, 0.65);
    color: #f5f5f5;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.warn span:nth-child(2) {
    font-size: 20px;
    cursor:pointer;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pag_item {
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-size: 14px;
    border: 1px solid #192536;
    border-radius: 3px;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
}

.pag_item a {
    text-decoration: none;
    color: #1f232a;
    display: block;

}

.pag_active {
    background-color: #192536;
}

.pag_active a {
    color: #f5f5f5;
}

#busca {
    width:100px;
}

.action-clients {
    display: flex;
    justify-content: space-between;
}

.searchresults {
    width: 298px;
    background-color: #f5f5f5;
    position: absolute;
    border-left: 1px solid #192536;
    border-right: 1px solid #192536;
    border-bottom: 1px solid #192536;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.si {
    height: 25px;
    line-height: 25px;
    padding: 5px 10px;
    cursor: pointer;
}

.si a {
    display: block;
    text-decoration: none;
    color: #192536;
}

.si:hover {
    background-color: #ebebeb;
}

.search-icon-input input[type=text] {
    padding-left: 30px;
}

.icon-main {
    position: relative;
}


.search-icon-input span {
    position: absolute;
    top: 10px;
    left: 7px;
}

#client_name {
    width: 300px;
    float: left;
}

.client_add_button {
    font-size: 17px;
    height: 30px;
    display: block;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    padding: 2px 8px 0 8px;
}

.report_main {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.report_item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 125px;
    height: 125px;
    background-color:#192536;
    margin: 20px;
    padding: 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.report_item:hover {
    background-color: #273954;
}

.report_item a {
    display: block;
    color: #f5f5f5;
    text-decoration: none;
}

#ico [class*="icon-"]:before {
    font-size: 50px;
}

.report-grid-4 {
    width: 21%;
    height:150px;
    float: left;
    text-align: center;
    margin: 0 2%;
}